config.py
cog/temp_cog.py
test.ipynb
cog/__pycache__/cog.cpython-38.pyc
cog/__pycache__/embed.cpython-38.pyc
__pycache__/config.cpython-38.pyc
test.py
063 - Jason Aldean - Burnin' It Down.flac
todo
cog/__pycache__/newcog.cpython-38.pyc
t.py
log_format
cog/__pycache__/help_functions.cpython-38.pyc
cog/newcog.py
cog/oldcog.py
oldcog.py
cog/helper/__pycache__/embed.cpython-38.pyc
.gitignore
cog/helper/__pycache__/guild_data.cpython-38.pyc
cog/helper/__pycache__/functions.cpython-38.pyc
__pycache__/config.cpython-310.pyc
cog/__pycache__/cog.cpython-310.pyc
cog/helper/__pycache__/embed.cpython-310.pyc
cog/helper/__pycache__/functions.cpython-310.pyc
cog/helper/__pycache__/guild_data.cpython-310.pyc
__pycache__/config.cpython-312.pyc
cog/__pycache__/cog.cpython-312.pyc
cog/helper/__pycache__/embed.cpython-312.pyc
cog/helper/__pycache__/functions.cpython-312.pyc
cog/helper/__pycache__/guild_data.cpython-312.pyc
chgpt3.py
.cache
main.spec
cog/helper/__pycache__/setting.cpython-312.pyc
setting.json
Music Bot Setting.json
BotFunctionTests.ipynb
test1.py
cog/__pycache__/ExtraCogFunctions.cpython-312.pyc
cog/__pycache__/MusicCog.cpython-312.pyc
cog/helper/__pycache__/log.cpython-312.pyc
cog/helper/__pycache__/MusicSearch.cpython-312.pyc
cog/helper/__pycache__/GuildData.cpython-312.pyc
Music Bot Log Folder/2024-06-03.txt
BotFunctionTests.py
BotFunctionTests.py
Music Bot Log Folder/2024-06-05.txt
.env
Music Bot Log Folder/2024-06-06.txt
ntext.py
cog/helper/__pycache__/NewGuildData.cpython-312.pyc
Thumbs.db
Music Bot Log Folder/2024-06-10.txt
Music Bot Log Folder/2024-06-11.txt
Music Bot Log Folder/2024-06-12.txt
testBench.ipynb
__pycache__/Paths.cpython-312.pyc
cog/helper/__pycache__/Paths.cpython-312.pyc
Music Bot Log Folder/2024-06-13.txt
cog/helper/__pycache__/InvalidUrlFile.cpython-312.pyc
cog/helper/__pycache__/PrintHandler.cpython-312.pyc
cog/helper/__pycache__/SearchMusic.cpython-312.pyc
cog/helper/__pycache__/Spotify.cpython-312.pyc
__pycache__/GlobVar.cpython-312.pyc
cog/__pycache__/music_cog.cpython-312.pyc
cog/helper/__pycache__/print_handler.cpython-312.pyc
cog/helper/__pycache__/search_music.cpython-312.pyc
cog/__pycache__/ClaudeCog.cpython-312.pyc
cog/__pycache__/GPTCog.cpython-312.pyc
__pycache__
Run Music Bot.bat
Run TEST Music Bot.bat
Run DMB.bat
Music Bot Files