config.py
cog/temp_cog.py
test.ipynb
cog/__pycache__/cog.cpython-38.pyc
cog/__pycache__/embed.cpython-38.pyc
__pycache__/config.cpython-38.pyc
test.py
063 - Jason Aldean - Burnin' It Down.flac
todo
cog/__pycache__/newcog.cpython-38.pyc
t.py
log_format
cog/__pycache__/help_functions.cpython-38.pyc
cog/newcog.py
cog/oldcog.py
oldcog.py
cog/helper/__pycache__/embed.cpython-38.pyc
.gitignore
cog/helper/__pycache__/guild_data.cpython-38.pyc
cog/helper/__pycache__/functions.cpython-38.pyc
__pycache__/config.cpython-310.pyc
cog/__pycache__/cog.cpython-310.pyc
cog/helper/__pycache__/embed.cpython-310.pyc
cog/helper/__pycache__/functions.cpython-310.pyc
cog/helper/__pycache__/guild_data.cpython-310.pyc
__pycache__/config.cpython-312.pyc
cog/__pycache__/cog.cpython-312.pyc
cog/helper/__pycache__/embed.cpython-312.pyc
cog/helper/__pycache__/functions.cpython-312.pyc
cog/helper/__pycache__/guild_data.cpython-312.pyc
chgpt3.py
.cache
main.spec
cog/helper/__pycache__/setting.cpython-312.pyc
setting.json
Music Bot Setting.json
